# SQL Server files
snip-n-stick/App_Data/*.mdf
snip-n-stick/App_Data/*.ldf

#Debug Information
snip-n-stick/obj/
snip-n-stick/bin/
snip-n-stick/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
snip-n-stick/obj/Debug/snip-n-stick.dll
snip-n-stick/bin/snip-n-stick.dll
snip-n-stick/bin/snip-n-stick.dll
snip-n-stick/obj/Debug/snip-n-stick.dll
snip-n-stick/obj/Debug/snip-n-stick.dll
snip-n-stick/bin/snip-n-stick.pdb
snip-n-stick/App_Data/snip_n_stick.mdf